3-1==1.0.0
asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cssselect2==0.7.0
Django==4.2.16
django-admin-honeypot==1.1.0
django-admin-honeypot-updated-2021==1.2.0
django-admin-thumbnails==0.2.9
django-bootstrap-v5==1.0.11
django-ipware==7.0.1
django-js-asset==2.2.0
django-mptt==0.16.0
django-treebeard==4.7.1
fonttools==4.55.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
pillow==10.4.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.15.0
python-decouple==3.8
python-dotenv==1.0.1
python-ipware==3.0.0
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2024.1
urllib3==2.2.3
weasyprint==63.0
webencodings==0.5.1
zopfli==0.2.3.post1
