<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">

  <footer style="background-color: #eee6d3;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3 text-dark">About us</h5>
          <p>
			With over 10 years market experience in the agro products market, our mission has always been to ensure that we 
			provide quality products with an assurance of high yields and better performance.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-dark">links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="{% url 'home' %}" style="color: #4f4f4f;">Home</a>
            </li>
            <li class="mb-1">
              <a href="{% url 'store' %}" style="color: #4f4f4f;">Store</a>
            </li>
            <li class="mb-1">
              <a href="{% url 'dashboard' %}" style="color: #4f4f4f;">Dashboard</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1 text-dark">opening hours</h5>
          <table class="table" style="border-color: #666;">
            <tbody>
              <tr>
                <td>Mon - Fri:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Sat - Sun:</td>
                <td>8am - 1am</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </footer>
  
</div>
<!-- End of .container -->